theme.meta
[name="white-theme"]
[version="1.0"]
[author="Bruno Finger"]
[email="spotify-theme@brunofin.anonaddy.me"]
[repository="https://github.com/spotify-themes/white-theme.web-player"]
{}

html, .e082d93e1995fad3363fcbc6ae888189-scss {
    background-color: #efefef;
}

.now-playing-bar-container {
    border-top: 1px solid white;
    background-color: #e3e3e3;
}

.Root__nav-bar,.NavBar__download-item {
    background-color: white;
}

a, _5991c352036dcc651a7bec853fd570a8-scss, body, button, input, ._587844af67ca3c14dbf7deb3d5e64f69-scss {
    color: #00000087;
}

.tracklist-name, .track-name-wrapper .tracklist-row__album-name-link, .track-name-wrapper .tracklist-row__artist-name-link {
    color: black;
}

.RootlistItem__link:link, .RootlistItem__link:visited, .GlueDropTarget--tracks *,
.os-theme-spotify.os-host-transition>.os-scrollbar-horizontal>.os-scrollbar-track>.os-scrollbar-handle, .os-theme-spotify.os-host-transition>.os-scrollbar-vertical>.os-scrollbar-track>.os-scrollbar-handle {
    color: #9b9b9b;
    fill: #9b9b9b;
}

.RootlistItem__link:hover, .link-subtle:not(.navBar-link--active):hover {
    color: #797979;
}

.navBar-link--active {
    background-color: #797979;
}

._3cf7cb92e8b34cd675db241406113852-scss, front-page-playlist-background {
    background-color: #e3e3e3;
}

._9764a8966c108117bdf6f47cb601747a-scss, .profile-gradient {
    background-color: rgb(247 255 229);
}
